@font-face {
    font-family: 'monte';
    src: url('montecarlo.ttf');
}

html {
        font-family: monte;
}

body {
        background-color: rgb(16,16,16);
}

#main {
        width: 600px;
        height: 220px;

        position: absolute;
        margin: auto;
        top: 200px;
        left: 0px;
        right: 0px;

        border: 4px rgb(153,33,66) solid;

        background-image: url('images/image.gif');
        background-size: 100%;
}

#search {
        width: 300px;

        position: absolute;
        margin: auto;
        top: 452px;
        left: 0px;
        right: 0px;

}

.searchbar {
        font-family: 'monte';
        font-size: 16px;

        width: 300px;
        height: 16px;

}

.goodbye {
        color: #fff;
        text-align: left;
        margin-top: 94px;
        margin-left: 40px;
}

#linkscon {
        width: 350px;
        height: 220px;

        position: absolute;
        margin: auto;
        top: 434px;
        left :0px;
        right: 0px;

        font-size: 1.25em;
}

#linkscon > p {
        text-align: center;
        margin-top: 0px;

        color: #fff;
}

li {
        display: inline-block;
        position: relative;
        text-align: center;
}

ul {
        color: rgb(153,33,66);
        list-style-type: none;
        margin-top: 1px;
        margin-bottom: 4px;
        margin-left: -30px
}

a {
        text-decoration: none;
        color: rgb(13,129,122);
        transition: 0.3s ease;
}

a:hover {
        color: rgb(19,75,58);
}
